@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap');

.App {
  text-align: center;
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif, serif;
}
.maintitle{
  font-family: 'Noto Sans HK', sans-serif;
  text-decoration: none;
  color: black
}

.topbar{
  background-color: #fde33f;
  height: 65px;

}


.topbar>div{
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;
}

.lock{
  max-width:1280px;
  margin: 0 auto;
}
nav>ul{
  padding: 0;
}
nav a{
  text-decoration: none;
  color: black;
  margin: 0 5px;
  padding: 7px 15px;
}
nav>ul>li:hover{
  transform: translate(0px, -2px);
}
nav>ul>li>a:hover{
  background-color: #fcb426;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}
.active{
  background-color: #282c34;
}
.hamburger{
  display:none;
  cursor: pointer;
}
.navbar{
  display: block;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media screen and (max-width: 575px){
  .hamburger{
    display:block;
    margin-left: auto;
  }
  .topbar{
    position: relative;
  }
  .navbar{
    position: fixed;
    top: 65px;
    right: -120px;
    opacity: 0;
    transition: 0.4s all;
  }
  .navbar>ul{
    flex-direction: column;
  }
  .navbar.show{
    right: 0;
    top: 65px;
    opacity: 1;
    background-color: #f6e997eb;
    height: 250px;
  }
  .navbar li{
    margin: 15px 5px;
  }


}